nav {
  list-style: none;
  margin: 50px 0;

}

a {
  text-decoration: none;
}

.list {
  padding: 5px 20px;
  text-transform: uppercase;
}

.logo {
  width: 28px;
  vertical-align: bottom;
}

@media(max-width: 767px) {
  .hiddenformobile {
    display: none;
    padding: 0;
  }
}
