@font-face {
  font-family: Din;
  src: url(/font/DINPro.ttf);
}

:root {
  --light-blue: #25C1E8;
  --dark-blue: #4E7093;
  --gray-blue: #668097;
  --light-yellow: #FFC858;
  --pastel-pink: #F59297;
  font-family: Din, 'Times New Roman', Times, serif;
  color: var(--dark-blue);
  font-weight: bolder;
  font-size: 16px;
}

.main {
  display: grid;
  grid-template-columns: 19% minmax(768px, auto) 19%;
  grid-template-rows: 100vh;
}
.content {
  display: grid;
  /* background-color: var(--pastel-pink); */
  grid-template-columns: 256px auto;
}

.bar {
  display: grid;
  grid-template-rows: 250px 3fr 100px minmax(200px, 300px);
  /* align-self: end; */
}

.info {
  /* background-color: var(--pastel-pink); */
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--light-blue);
}

.logo {
  width: 200px;
}
/* @media(max-width: 767px) {
  .main {
    display: grid;
    grid-template-columns: 0 auto 0;
    grid-template-rows: 100vh;
  }

  .content {
    display: grid;
    grid-template-columns: 42px auto;
  }
  
} */
