@font-face {
  font-family: Din;
  src: url(/cv/font/DINPro.ttf);
}

:root {
  --light-blue: #25c1e8;
  --dark-blue: #4e7093;
  --gray-blue: #668097;
  --light-yellow: #ffdb94;
  --pastel-pink: #f59297;
  font-family: Din, Verdana, Geneva, Tahoma, sans-serif;
  color: var(--dark-blue);
  font-weight: bolder;
  font-size: 16px;
}

.main {
  display: grid;
  grid-template-columns: auto minmax(auto, 1056px) auto;
  grid-template-rows: 100vh;
}
.content {
  display: grid;
  grid-template-columns: 256px auto;
}

.bar {
  display: grid;
  grid-template-rows: 250px 3fr 100px minmax(200px, 300px);
}

.info {
  margin: 20px;
}

.info p {
  color: var(--gray-blue);
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--light-blue);
}

h2>a:link,
h2>a:visited,
h2>a:active {
  color: var(--dark-blue);
}

h2>a:hover {
  color: var(--light-blue);
}

.logo {
  width: 200px;
}

@media(max-width: 767px) {

  .main {
    display: grid;
    grid-template-columns: 0 auto 0;
    grid-template-rows: 100vh;
  }

  .content {
    display: grid;
    grid-template-columns: 42px auto;
  }

}
